.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo-img {
  left: -50px;
  width: 105px;
  height: 39px;
  position: relative;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.nav__link:hover {
  color: #2f80ed;
}
